<!--Left Sidebar with info Profile -->
<% include template/header.ejs %>

<div class="sidebar-nav">
    <a href="personal-profile.html" title="Profile">
        <img src="img/user.jpg" alt="User name" class="img-circle img-user">
    </a>
    <h2 class="text-center hidden-xs"><a href="personal-profile.html" title="Profile">My User</a></h2>
    <p class="text-center user-description hidden-xs">
        <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</i>
    </p>
</div>

<div class="content-posts profile-content">
    <div class="banner-profile">
    </div>
    <!-- Tab Panel -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#posts" role="tab" id="postsTab" data-toggle="tab" aria-controls="posts" aria-expanded="true">Last posts</a></li>
        <li><a href="#profile" role="tab" id="profileTab" data-toggle="tab" aria-controls="profile" aria-expanded="true">Profile</a></li>
        <li><a href="#chat" role="tab" id="chatTab" data-toggle="tab" aria-controls="chat" aria-expanded="true">Chat</a></li>
    </ul>

    <!--Start Tab Content-->
    <div class="tab-content">

        <!-- Tab Posts -->
        <div class="tab-pane fade active in" role="tabpanel" id="posts" aria-labelledby="postsTab">
            <div id="posts-container" class="container-fluid container-posts">

                <div class="card-post">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="personal-profile.html" title="Profile">
                                <img src="img/user.jpg" alt="User name" class="img-circle img-user">
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 info-user">
                            <h3><a href="personal-profile.html" title="Profile">My User</a></h3>
                            <p><i>2h</i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 data-post">
                            <p>Lorem Ipsum Dolor si amet</p>
                            <div class="reaction">
                                &#x2764; 156 &#x1F603; 54
                            </div>
                            <div class="comments">
                                <div class="more-comments">View more comments</div>
                                <ul>
                                    <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                                    <li><b>User2</b> Lorem Ipsum Dolor si amet &#x1F602;</li>
                                </ul>
                                <form>
                                    <input type="text" class="form-control" placeholder="Add a comment">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-post">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="personal-profile.html" title="Profile">
                                <img src="img/user.jpg" alt="My User" class="img-circle img-user">
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 info-user">
                            <h3><a href="personal-profile.html" title="Profile">My User</a></h3>
                            <p><i>2h</i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-8 col-sm-offset-2 data-post">
                            <p>Lorem Ipsum Dolor si amet</p>
                            <img src="img/post.jpg" alt="image post" class="img-post">
                            <div class="reaction">
                                &#x2764; 1234 &#x1F603; 54
                            </div>
                            <div class="comments">
                                <div class="more-comments">View more comments</div>
                                <ul>
                                    <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                                    <li><b>User2</b> Lorem Ipsum Dolor si amet &#x1F602;</li>
                                </ul>
                                <form>
                                    <input type="text" class="form-control" placeholder="Add a comment">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-post">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="personal-profile.html" title="Profile">
                                <img src="img/user.jpg" alt="User name" class="img-circle img-user">
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 info-user">
                            <h3><a href="personal-profile.html" title="Profile">My User</a></h3>
                            <p><i>2h</i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 data-post">
                            <p>Lorem Ipsum Dolor si amet</p>
                            <video controls>
                                <source src="img/post-video.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <div class="reaction">
                                &#x2764; 1234 &#x1F603; 54
                            </div>
                            <div class="comments">
                                <div class="more-comments">View more comments</div>
                                <ul>
                                    <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                                    <li><b>User2</b> Lorem Ipsum Dolor si amet &#x1F602;</li>
                                </ul>
                                <form>
                                    <input type="text" class="form-control" placeholder="Add a comment">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loading">
                <img src="img/load.gif" alt="loader">
            </div>
        </div><!-- end Tab Posts -->

        <!--Start Tab Profile-->
        <div class="tab-pane fade" role="tabpanel" id="profile" aria-labelledby="profileTab">
            <div class="container-fluid container-posts">
                <div class="card-post">
                    <ul class="profile-data">
                        <li><b>Username:</b> User</li>
                        <li><b>Age:</b> 26</li>
                        <li><b>Hobbies:</b> trecking and cooking</li>
                        <li><b>Studies:</b> University of World</li>
                        <li><b>Job:</b> Full stack Developer</li>
                        <li><b>Description:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                    </ul>
                    <p><a href="#" title="edit profile"><i class="fa fa-pencil" aria-hidden="true"></i> Edit profile</a></p>
                </div>
            </div>
        </div><!-- end tab Profile -->

        <!-- Start Tab chat-->
        <div class="tab-pane fade" role="tabpanel" id="chat" aria-labelledby="chatTab">
            <div class="container-fluid container-posts">
                <div class="card-post">
                    <div class="scrollbar-container">
                        <div class="row row-user-list">
                            <div class="col-sm-2 col-xs-3">
                                <img src="img/user2.jpg" alt="User name" class="img-circle img-user">
                            </div>
                            <div class="col-sm-7 col-xs-9">
                                <p><b>User Name</b> <span class="badge">1</span></p>
                                <p class="chat-time">An hour ago</p>
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-sm-3 hidden-xs">
                                <p><a href="#" title="Replay"><span class="badge badge-replay">Replay ></span></a></p>
                            </div>
                        </div>
                        <div class="row row-user-list">
                            <div class="col-sm-2 col-xs-3">
                                <img src="img/user3.jpg" alt="User name" class="img-circle img-user">
                            </div>
                            <div class="col-sm-7 col-xs-9">
                                <p><b>User Name</b></p>
                                <p class="chat-time">Yesterday</p>
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-sm-3 hidden-xs">
                                <p><a href="#" title="Start chat"><span class="badge badge-message">Start chat ></span></a></p>
                            </div>
                        </div>
                        <div class="row row-user-list">
                            <div class="col-sm-2 col-xs-3">
                                <img src="img/user4.jpg" alt="User name" class="img-circle img-user">
                            </div>
                            <div class="col-sm-7 col-xs-9">
                                <p><b>User Name</b></p>
                                <p class="chat-time">2 days ago</p>
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-sm-3 hidden-xs">
                                <p><a href="#" title="Start chat"><span class="badge badge-message">Start chat ></span></a></p>
                            </div>
                        </div>
                        <div class="row row-user-list">
                            <div class="col-sm-2 col-xs-3">
                                <img src="img/user5.jpg" alt="User name" class="img-circle img-user">
                            </div>
                            <div class="col-sm-7 col-xs-9">
                                <p><b>User Name</b></p>
                                <p class="chat-time">2 days ago</p>
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-sm-3 hidden-xs">
                                <p><a href="#" title="Start chat"><span class="badge badge-message">Start chat ></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Tab chat-->

    </div><!-- Close Tab Content-->

</div><!--Close content posts-->

<!-- Modal container for settings--->
<div id="settingsmodal" class="modal fade text-center">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

</body>
