
<!DOCTYPE html>
<html>


<!-- Mirrored from socialyte.codeplus.it/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Mar 2018 14:34:38 GMT -->
<head>
    <title>Signin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" type="text/css">
    <script src="lib/jquery-3.2.0.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body id="login-page">

<div class="form-box">

    <div class="form-logo">
        <p class="text-center"><img src="img/logo.png" alt="logo"></p>
    </div>

    <form action="/signup" method="post">
        <% if(errors){%>

        <%for(var i=0;i<errors.length;i++){%>
        <div class="alert alert-danger" role="alert">
            <%= errors[i]['msg'] %>
        </div>
        <%}%>
        <%}%>
        <input type="text" class="form-control" placeholder="Username" name="username" id="username">
        <p id="uinfo"></p>
        <script>
            $(document).ready(function () {
                $('#username').blur(function () {
                    var username=$(this).val();
                    $.ajax({
                        url:"/usernameCheck",
                        method:"POST",
                        data:{user_name:username},
                        dataType:"text",
                        success:function (html) {
                            $('#uinfo').html(html);
                        }
                    })
                })
            })
        </script>

        <input type="text" class="form-control" placeholder="First name" name="fname">
        <input type="text" class="form-control" placeholder="Last name" name="lname">
        <input type="email" class="form-control" placeholder="Email" name="email" id="email">
        <p id="einfo"></p>
        <script>
            $(document).ready(function () {
                $('#email').blur(function () {
                    var email=$(this).val();
                    $.ajax({
                        url:"/emailCheck",
                        method:"POST",
                        data:{email:email},
                        dataType:"text",
                        success:function (html) {
                            $('#einfo').html(html);
                        }
                    })
                })
            })
        </script>
        <input type="password" class="form-control" placeholder="Password" name="password">
        <input type="password" class="form-control" placeholder="Confirm Password" name="cpassword">

        <input type="submit" class="btn btn-social" value="SIGN UP">
    </form>
    <a href="/" class="login-action" title="login">
        <p>Have an account?</p>
    </a>
</div><!--close form-box-->

<footer class="login-footer text-center">
    <div class="col-xs-3">
        <a class="login-action" href="#" title="language">LANGUAGE</a>
    </div>
    <div class="col-xs-3">
        <a class="login-action" href="#" title="terms">TERMS</a>
    </div>
    <div class="col-xs-3">
        <a class="login-action" href="#" title="privacy">PRIVACY</a>
    </div>
    <div class="col-xs-3">
        <a class="login-action" href="#" title="careers">CAREERS</a>
    </div>
</footer>

</body>


<!-- Mirrored from socialyte.codeplus.it/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Mar 2018 14:34:38 GMT -->
</html>
