<!--Left Sidebar with info Profile -->
<% include template/header.ejs %>

<div class="sidebar-nav">
    <a href="personal-profile.html" title="Profile">
        <img src="img/user.jpg" alt="User name" class="img-circle img-user">
    </a>
    <h2 class="text-center hidden-xs"><a href="personal-profile.html" title="Profile"><%= result[0].username; %></a></h2>
    <p class="text-center user-description hidden-xs">
        <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</i>
    </p>
</div>

<!--Wall with Post -->
<div class="content-posts active" id="posts">
    <div id="posts-container" class="container-fluid container-posts">

        <div class="card-post">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="personal-profile.html" title="Profile">
                        <img src="img/user.jpg" alt="User name" class="img-circle img-user">
                    </a>
                </div>
                <div class="col-xs-9 col-sm-10 info-user">
                    <h3><a href="personal-profile.html" title="Profile">My User</a></h3>
                    <p><i>2h</i></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 data-post">
                    <p>Lorem Ipsum Dolor si amet</p>
                    <div class="reaction">
                        &#x2764; 156 &#x1F603; 54
                    </div>
                    <div class="comments">
                        <div class="more-comments">View more comments</div>
                        <ul>
                            <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                            <li><b>User2</b> Lorem Ipsum Dolor si amet &#x1F602;</li>
                        </ul>
                        <form>
                            <input type="text" class="form-control" placeholder="Add a comment">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-post">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="user-profile.html" title="User Profile">
                        <img src="img/user2.jpg" alt="User name" class="img-circle img-user">
                    </a>
                </div>
                <div class="col-xs-9 col-sm-10 info-user">
                    <h3><a href="user-profile.html" title="User Profile">User Name</a></h3>
                    <p><i>2h</i></p>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-8 col-sm-offset-2 data-post">
                    <p>Lorem Ipsum Dolor si amet</p>
                    <img src="img/post.jpg" alt="image post" class="img-post">
                    <div class="reaction">
                        &#x2764; 1234 &#x1F603; 54
                    </div>
                    <div class="comments">
                        <div class="more-comments">View more comments</div>
                        <ul>
                            <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                            <li><b>User2</b> Lorem Ipsum Dolor si amet &#x1F602;</li>
                        </ul>
                        <form>
                            <input type="text" class="form-control" placeholder="Add a comment">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-post">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="personal-profile.html" title="User Profile">
                        <img src="img/user.jpg" alt="User name" class="img-circle img-user">
                    </a>
                </div>
                <div class="col-xs-9 col-sm-10 info-user">
                    <h3><a href="personal-profile.html" title="User Profile">My User</a></h3>
                    <p><i>2h</i></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 data-post">
                    <p>Lorem Ipsum Dolor si amet</p>
                    Video here
                    <video controls>
                        <source src="img/post-video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="reaction">
                        &#x2764; 1234 &#x1F603; 54
                    </div>
                    <div class="comments">
                        <div class="more-comments">View more comments</div>
                        <ul>
                            <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                            <li><b>User2</b> Lorem Ipsum Dolor si amet &#x1F602;</li>
                        </ul>
                        <form>
                            <input type="text" class="form-control" placeholder="Add a comment">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Close #posts-container-->
    <div id="loading">
        <img src="img/load.gif" alt="loader">
    </div>
</div>
<!-- Close #posts -->
<!-- Modal container for settings--->
<div id="settingsmodal" class="modal fade text-center">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
</body>


<!-- Mirrored from socialyte.codeplus.it/wall.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Mar 2018 14:34:43 GMT -->
</html>
