<!--Left Sidebar with info Profile -->
<% include ../template/o_header.ejs %>

<div class="sidebar-nav">
    <a href="personal-profile.html" title="Profile">
        <img src="img/user.jpg" alt="User name" class="img-circle img-user">
    </a>
    <h2 class="text-center hidden-xs"><a href="personal-profile.html" title="Profile"><%= oresult[0].o_name;%></a></h2>
    <p class="text-center user-description hidden-xs">
        <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</i>
    </p>
</div>



<!-- Modal container for settings--->
<div id="settingsmodal" class="modal fade text-center">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

</body>

</html>
