<script language = "javascript" type = "text/javascript" src="/myscript.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">General Settings</h4>
</div>
<div class="modal-body">
    <div class="row modal-row">
        <div class="col-sm-3">
            <label>Admins: </label>
        </div>
        <div class="col-sm-6">
            List
        </div>
        <div class="col-sm-3">
            <a href="#" title="Edit Username" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil" aria-hidden="true"></i> <i>Edit</i></a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog" style="top:20px;">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Admins</h4>
                    </div>
                    <div class="modal-body" >
                        <!--<div class="col-md-12">-->
                        <div id='adminlist'>
                            <%for(var i=0;i<admins.length;i++){%>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../img/user.jpg" class="img-rounded"  style="width: 30px;height: 30px;">
                                </div>
                                <div class="col-md-3">
                                    <p><%=admins[i].username%></p>
                                </div>
                                <div class="col-md-3">
                                    <p><%=admins[i].fname%></p>
                                </div>
                                <div class="col-md-3">
                                    <%if(admins[i].id===uresult[0].id){%>
                                    <button type="button" onclick="ajaxFunction(<%= admins[i].id %>)" class="btn btn-danger btn-sm" disabled>Remove</button>
                                    <%}else{%>
                                    <button type="button" onclick="ajaxFunction(<%= admins[i].id %>)" class="btn btn-danger btn-sm" >Remove</button>
                                    <%}%>
                                </div>
                            </div>
                            <%}%>

                            <hr>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Make a admin</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="userid" placeholder="User id">
                                            <small id="emailHelp" class="form-text text-muted">Enter the user id of the user to make an admin.</small>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary" onclick="addAdmin()">Add</button>
                                </div>
                            </div>
                        </div>

                        <!--</div>-->

                    </div>
                    <div class="modal-footer" style="">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row modal-row">
        <div class="col-sm-3">
            <p>
                <label>Email: </label>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                example@email.com
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <a href="#" title="Edit Email"><i class="fa fa-pencil" aria-hidden="true"></i> <i>Edit</i></a>
            </p>
        </div>
    </div>
    <div class="row modal-row">
        <div class="col-sm-3">
            <p>
                <label>Change password: </label>
            </p>
        </div>
        <div class="col-sm-6">
            <p>*********</p>
        </div>
        <div class="col-sm-3">
            <a href="#" title="Edit Password"><i class="fa fa-pencil" aria-hidden="true"></i> <i>Edit</i></a>
        </div>
    </div>
    <div class="row modal-row">
        <div class="col-sm-3">
            <p>
                <label>Language: </label>
            </p>
        </div>
        <div class="col-sm-6">
            <p>English (UK)</p>
        </div>
        <div class="col-sm-3">
            <a href="#" title="Edit Language"><i class="fa fa-pencil" aria-hidden="true"></i> <i>Edit</i></a>
        </div>
    </div>
    <div class="row modal-row">
        <div class="col-sm-3">
            <p>
                <label>Public profile: </label>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <input class="switch-checkbox" type="checkbox" name="PublicProfile" data-on-text="Yes" data-off-text="No" checked>
            </p>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <div class="row modal-row">
        <div class="col-sm-3">
            <p>
                <label>Notifications Email: </label>
            </p>
        </div>
        <div class="col-sm-6">
            <input class="switch-checkbox" type="checkbox" name="NotificationsEmail" data-on-text="Yes" data-off-text="No" checked>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-social">Save changes</button>
</div>

